#titulo_roteiros {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-interesses{
    display: flex;
    flex-direction: column;
    padding-left: 4em;
    height: 36vh;
    width: 95%;
    height: 1770px;
 
}

.box-interesses-2{
    display: flex;
    flex-direction: column;
    padding-left: 4em;
    height: 36vh;
    width: 95%;
    height: 1770px;
 
}

.box-interesses span, .box-interesses p, .box-interesses h4{
    color: #373737;
}

.box-interesses h3, .box-interesses h4{
    font-weight: normal;
}

.box-titulo h3{
    font-family: 'Scada', 'sans-serif';
    font-weight: bold;
    font-size: 33px;
    color: #000000;
    padding-left: 0.1em;
    margin-bottom: 0.1em;
}

.box-titulo{
    margin-top: 4em;
}

.caixa-texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.8em;
    background-color: #a9a9a9;
    margin-top: 1em;
}

.caixa-texto h4{
    color: #000000;
    align-items: center;
}

.caixa-texto span{
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    padding-right: 7%;
    font-size: 25px;
}

.caixa-texto span:hover{
    color: #FFFBFB;
}


@media screen and (max-width: 1335px) {

    #titulo_roteiros {
        font-size: 16px;
        align-items: center;
        display: block;
    }

    .box_container, .box_interesses, .box_titulo {
        display: block;
        align-items: center;
    }

    .caixa_texto, .box-titulo {
        font-size: 16px;
    }
}

@media screen and (max-width: 830px) {

    #titulo_roteiros{
        text-align: center;
        width: 150%;

    }
}
    #titulo_roteiros img {
        align-items: center;
        
    }
    .box-container, .box_interesses, .box_titulo {
        display: flex;
        text-align: center;
        width: 100%;
        padding: 0;
    
    }
    .caixa-texto, .box-titulo {
        align-items: center;
       
    }

@media screen and (max-width: 499px) {

    .box-interesses {
        display: block;
        margin-right:auto;
        margin-left: 50%; 
        margin-bottom: 200px;
    }
    
    #titulo_roteiros {
        margin-left: 50%;
        display: block;
    }
    .box-container, .box-titulo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
       
    }
}